apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-hub-api
spec:
  template:
    spec:
      containers:
      - name: sentinel-hub-api
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
